[submodule "RobotModels/Panda"]
	path = RobotModels/Panda
	url = https://github.com/Bick95/PandaRobot.jl.git
[submodule "Evaluation_CognitiveRobotics_Robo_Control"]
	path = Evaluation_CognitiveRobotics_Robo_Control
	url = https://github.com/Bick95/Evaluation_CognitiveRobotics_Robo_Control.git
